<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<p>Some regular Charts component below: </p>

<h4>Line Graph</h4>
<div class="width-div">
    <ngx-line-graph 
    [minX]="0" [maxX]="100" 
    [minY]="0" [maxY]="50" 
    [gridPrecisionX]="10" 
    [gridPrecisionY]="10"
    xAxisTitle="Time"
    yAxisTitle="Distance"
    [data]="data"
    color="#ff4444"></ngx-line-graph>
</div>

<h4>Multi Line Graph</h4>
<div class="width-div">
<ngx-multi-line-graph 
[minX]="0" [maxX]="100" 
[minY]="0" [maxY]="50" 
[gridPrecisionX]="10" 
[gridPrecisionY]="10"
xAxisTitle="Time"
yAxisTitle="Distance"
[data]="multiLineData2"></ngx-multi-line-graph>
</div>
<h4>Bar Chart</h4>

<div class="width-div">
<ngx-bar-chart 

xAxisTitle="City"
yAxisTitle="Value"
[data]="barChartData"
[showGridLines]="false"></ngx-bar-chart>
</div>

<h4>Clustered Bar Chart</h4>
<div class="width-div">
<ngx-clustered-bar-chart
xAxisTitle="City"
yAxisTitle="Value"
[data]="clusteredBarChartData"></ngx-clustered-bar-chart>
</div>

<div class="width-div">
<ngx-pie-chart 
[data]="pieChartData" [customColorScheme]="customColorScheme"></ngx-pie-chart>
</div>
<div class="width-div">
<ngx-donut-chart
[data]="pieChartData" colorScheme="colorful"></ngx-donut-chart>
</div>
<div class="width-div">
<ngx-sunburst-chart 
[data]="sunburstChartData2" colorScheme="cool"></ngx-sunburst-chart>
</div>
<div class="width-div">
<ngx-gantt-chart
[data]="ganttChartData2" colorScheme="colorful"></ngx-gantt-chart>
</div>
<div class="width-div">
<ngx-timeline-chart
[data]="timelineChartData" colorScheme="cool"
></ngx-timeline-chart>
</div>
<ngx-timeline-chart [width]="1100" [height]="500"
[data]="timelineChartData3" colorScheme="cool"
></ngx-timeline-chart>

<!-- 


<h4>Bar Chart</h4>
<ngx-beautiful-charts [width]="1100" [height]="400"
[displayXAxis]="true"
[displayYAxis]="true"
xAxisTitle="City"
yAxisTitle="Value"
[data]="barChartData"
chartType="bar-chart" [showGridLines]="true"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="800" [height]="400"
[displayXAxis]="true" colorScheme="cool"
[displayYAxis]="true"
xAxisTitle="City"
yAxisTitle="Value"
[data]="barChartData2"
chartType="bar-chart" [showGridLines]="false"
color="#1166ee"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100" [height]="400"
[displayXAxis]="true"
[displayYAxis]="true"
xAxisTitle="City"
yAxisTitle="Value"
[data]="clusteredBarChartData"
chartType="clustered-bar-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100" [height]="400"
[displayXAxis]="true"
[displayYAxis]="true"
xAxisTitle="City"
yAxisTitle="Value"
[data]="clusteredBarChartData2"
chartType="clustered-bar-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="800"
[data]="pieChartData"
chartType="pie-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="800"
[data]="pieChartData"
chartType="donut-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="700"
[data]="sunburstChartData"
chartType="sunburst-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="700"
[data]="sunburstChartData2"
chartType="sunburst-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="700"
[data]="sunburstChartData2" colorScheme="cool"
chartType="sunburst-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="700"
[data]="sunburstChartData2" colorScheme="warm"
chartType="sunburst-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100"
[data]="ganttChartData"
chartType="gantt-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100"
[data]="ganttChartData2" colorScheme="cool"
chartType="gantt-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100" [height]="500"
[data]="timelineChartData"
chartType="timeline-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100" [height]="500"
[data]="timelineChartData2"
chartType="timeline-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100" [height]="500"
[data]="timelineChartData3"
chartType="timeline-chart"></ngx-beautiful-charts> -->
