<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<p>Some regular Charts component below: </p>

<h4>Line Graph</h4>
<ngx-line-graph
[minX]="0" [maxX]="100" 
[minY]="0" [maxY]="50" 
[gridPrecisionX]="10" 
[gridPrecisionY]="10"
xAxisTitle="Time"
yAxisTitle="Distance"
[data]="data"
color="#ff4444"></ngx-line-graph>

<h4>Multi Line Graph</h4>
<ngx-multi-line-graph [width]="1100" [height]="400" 
[minX]="0" [maxX]="100" 
[minY]="0" [maxY]="50" 
[gridPrecisionX]="10" 
[gridPrecisionY]="10"
xAxisTitle="Time"
yAxisTitle="Distance"
[data]="multiLineData2"></ngx-multi-line-graph>

<h4>Bar Chart</h4>
<ngx-bar-chart [width]="1100" [height]="400"
xAxisTitle="City"
yAxisTitle="Value"
[data]="barChartData"
[showGridLines]="false"></ngx-bar-chart>

<h4>Clustered Bar Chart</h4>
<ngx-clustered-bar-chart [width]="1100" [height]="400"
xAxisTitle="City"
yAxisTitle="Value"
[data]="clusteredBarChartData"></ngx-clustered-bar-chart>

<ngx-pie-chart [width]="800"
[data]="pieChartData" colorScheme="colorful"></ngx-pie-chart>

<ngx-donut-chart [width]="800"
[data]="pieChartData" colorScheme="colorful"></ngx-donut-chart>

<ngx-sunburst-chart [width]="700"
[data]="sunburstChartData2" colorScheme="cool"></ngx-sunburst-chart>

<ngx-gantt-chart [width]="1100"
[data]="ganttChartData2" colorScheme="colorful"></ngx-gantt-chart>

<ngx-timeline-chart [width]="1100" [height]="500"
[data]="timelineChartData" colorScheme="cool"
></ngx-timeline-chart>

<ngx-timeline-chart [width]="1100" [height]="500"
[data]="timelineChartData3" colorScheme="cool"
></ngx-timeline-chart>

<!-- 


<h4>Bar Chart</h4>
<ngx-beautiful-charts [width]="1100" [height]="400"
[displayXAxis]="true"
[displayYAxis]="true"
xAxisTitle="City"
yAxisTitle="Value"
[data]="barChartData"
chartType="bar-chart" [showGridLines]="true"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="800" [height]="400"
[displayXAxis]="true" colorScheme="cool"
[displayYAxis]="true"
xAxisTitle="City"
yAxisTitle="Value"
[data]="barChartData2"
chartType="bar-chart" [showGridLines]="false"
color="#1166ee"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100" [height]="400"
[displayXAxis]="true"
[displayYAxis]="true"
xAxisTitle="City"
yAxisTitle="Value"
[data]="clusteredBarChartData"
chartType="clustered-bar-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100" [height]="400"
[displayXAxis]="true"
[displayYAxis]="true"
xAxisTitle="City"
yAxisTitle="Value"
[data]="clusteredBarChartData2"
chartType="clustered-bar-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="800"
[data]="pieChartData"
chartType="pie-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="800"
[data]="pieChartData"
chartType="donut-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="700"
[data]="sunburstChartData"
chartType="sunburst-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="700"
[data]="sunburstChartData2"
chartType="sunburst-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="700"
[data]="sunburstChartData2" colorScheme="cool"
chartType="sunburst-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="700"
[data]="sunburstChartData2" colorScheme="warm"
chartType="sunburst-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100"
[data]="ganttChartData"
chartType="gantt-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100"
[data]="ganttChartData2" colorScheme="cool"
chartType="gantt-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100" [height]="500"
[data]="timelineChartData"
chartType="timeline-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100" [height]="500"
[data]="timelineChartData2"
chartType="timeline-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100" [height]="500"
[data]="timelineChartData3"
chartType="timeline-chart"></ngx-beautiful-charts> -->
