<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<p>Some regular Charts component below: </p>

<h4>Line Graph</h4>
<ngx-beautiful-charts [width]="800" [height]="400" 
[minX]="0" [maxX]="100" 
[minY]="0" [maxY]="50" 
[gridPrecisionX]="10" 
[gridPrecisionY]="10"
[displayXAxis]="true"
[displayYAxis]="true"
xAxisTitle="Time"
yAxisTitle="Distance"
[data]="data"
chartType="line-graph"
color="#ff4444"></ngx-beautiful-charts>

<h4>Multi Line Graph</h4>
<ngx-beautiful-charts [width]="1100" [height]="400" 
[minX]="0" [maxX]="100" 
[minY]="0" [maxY]="50" 
[gridPrecisionX]="10" 
[gridPrecisionY]="10"
[displayXAxis]="true"
[displayYAxis]="true"
xAxisTitle="Time"
yAxisTitle="Distance"
[data]="multiLineData2"
chartType="multi-line-graph"></ngx-beautiful-charts>

<h4>Bar Chart</h4>
<ngx-beautiful-charts [width]="1100" [height]="400"
[displayXAxis]="true"
[displayYAxis]="true"
xAxisTitle="City"
yAxisTitle="Value"
[data]="barChartData"
chartType="bar-chart" [showGridLines]="true"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="800" [height]="400"
[displayXAxis]="true" colorScheme="cool"
[displayYAxis]="true"
xAxisTitle="City"
yAxisTitle="Value"
[data]="barChartData2"
chartType="bar-chart" [showGridLines]="false"
color="#1166ee"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100" [height]="400"
[displayXAxis]="true"
[displayYAxis]="true"
xAxisTitle="City"
yAxisTitle="Value"
[data]="clusteredBarChartData"
chartType="clustered-bar-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="1100" [height]="400"
[displayXAxis]="true"
[displayYAxis]="true"
xAxisTitle="City"
yAxisTitle="Value"
[data]="clusteredBarChartData2"
chartType="clustered-bar-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="800"
[data]="pieChartData"
chartType="pie-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="800"
[data]="pieChartData"
chartType="donut-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="700"
[data]="sunburstChartData"
chartType="sunburst-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="700"
[data]="sunburstChartData2"
chartType="sunburst-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="700"
[data]="sunburstChartData2" colorScheme="cool"
chartType="sunburst-chart"></ngx-beautiful-charts>

<ngx-beautiful-charts [width]="700"
[data]="sunburstChartData2" colorScheme="warm"
chartType="sunburst-chart"></ngx-beautiful-charts>


